[Unit]
Description=Beout_OS Licensing and Update Server
After=network.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/root/Beout_OS_Server
ExecStart=/usr/bin/php -d upload_max_filesize=100M -d post_max_size=100M -S 0.0.0.0:80 -t public
Restart=always
RestartSec=3
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target